/* * * Measurements * * */
$DefaultFontSize: 16px;
$LoaderWidthHeight: 200px;
$MobileBreakpoint: 575px;

/* * * * Colors * * * */
$ShadowBlack: #00000085;
$ShadowGrey: #00000040;
$ShadowWhite: #00000025;

/* * * * URLs * * * */
$BackgroundImage: "https://res.cloudinary.com/lenselink/image/upload/v1612725494/pubg-kill-feed/background.png";
