@import "./constants";

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.app {
  color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
  
  &:before {
    background: url("/public/background.png") no-repeat center center fixed;
    // background: white;
    background-size: cover;
    bottom: 0px;
    content: "";
    left: 0px;
    opacity: 0.5;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    -webkit-background-size: cover;
    -o-background-size: cover;
  }
}

.header {
  align-items: center;
  animation: fadeIn .5s ease;
  background-color: black;
  display: flex;
  font-size: calc(10px + 1vmin);
  flex-direction: column;
  height: 26px;
  justify-content: center;
  padding: .75em;
  width: 100%;
  
  .searchbar {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-bottom: auto;
    margin-top: auto;
    padding: 2px 10px;

    &:hover {
      .input {
        caret-color: black;
        padding: 0 10px;
        transition: width 0.3s ease;
        width: 300px;
      }
    }
    .icon {
      color: black;
      height: 1em;
      transform: translate(-2%, 25%);
      width: 1em;
    }
    .input {
      background: none;
      border: 0;
      caret-color: transparent;
      line-height: 2.5em;
      outline: 0;
      transition: width 0.3s ease;
      width: 0;
    }
  }
}

.is-loading {
  animation: fadeInFaster 1s ease;
  animation-duration: 2s;
  display: flex !important;
}


.loader {
  background-color: black;
  display: none;
  height: 100vh;
  opacity: 0;
  position: fixed;
  width: 100vw;
  z-index: -1;

  .image {
    width: 500px;
    height: 375px;
    position: fixed;
    left: 50%;
    top:  50%;
    margin-left: -250px;
    margin-top:  -250px;
  }
}

@media (max-width: $Mobile) {
  .loader {
    .image {
      height: auto;
      margin-left: -50%;
      width: 100vw;
    }
  }

  .header {
    .searchbar {
      height: 32px;
      padding: 7px 8px;
      transition: width 0.3s ease;

      @media(hover: hover) and (pointer: fine) {
        &:hover {
          .input {
            caret-color: black;
            padding: 0 10px;
            transition: width 0.3s ease;
            width: 50vw;
          }
        }
      }
      .icon {
        height: 1em;
        transform: translate(-5%, 15%);
        width: 1em;
      }
      .input {
        line-height: 1em;
      }
    }
  }
}

@keyframes fadeIn { 
  0% {
    opacity: 0;
    z-index: 1;
  } 
  100% { 
    opacity: 1;
  } 
}

@keyframes fadeInFaster { 
  0% {
    opacity: 0;
    z-index: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% { 
    opacity: 0;
    z-index: 1;
  } 
}
